.fundo-login2{
    width: 400px;
        height: 380px;
            position: absolute;
                    top: 22%;
                        right: 5%;
                            border: 2px solid #76b900 ;
}
#mensagem-bemvindo{
    position: absolute;
        top: 5%;
            right: 25%;
                font-size: 350%;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                     color: #76b900;
                     text-shadow: 1px -1px 0px #000000,              
                    -2px 1px 0px black,                    
                     2px -1px 0px black,                  
                     2px 0px 0px black;                                  
}
.email{
    position: absolute;
        top: 55%;
            right: 9% ;
                width: 300px;
                    height: 25px;
                        border: 1px solid #76b900;
                        background: none;
                        color: white;
}
.password{
    position: absolute;
    top: 62%;
        right: 9% ;
            width: 300px;
                height: 25px;
                    border: 1px solid #76b900;
                    background: none;
                    color: white;
}
.logo{
    width: 675px;
    height: 385px;
        position: absolute;
                top: 22%;
                    right: 39%;                    
}
.logo2 {
    width: 298px;
        height: 150px;
            position: absolute;
                    top: 25%;
                        right: 10%;                                                                                         
}
.botao-logar {
    position: absolute;
    top: 67%;
        right: 9% ;
            width: 305px;
                height: 25px;
                background: rgba(245, 222, 179, 0);
                color: #76b900;
                border: none;
}
.registrar{
    position: absolute;
    top: 75%;
        right: 9% ;
            width: 305px;
            background: rgba(255, 255, 255, 0);
            border: none;
            color: white;
}
.fundo-login1{
        width: 103vw;
        height: 106vh;
        position: absolute;
        border-left: none;
        right: -1vw;
        top: -1vw;
         
}
body{
    border: -15%;
    margin: -15%;
}
