*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
body{
    font-size: 100%;
}
#logo{
    height: 40px;
    width: 70px;
    display: flex;
    left: 50%;
}
header{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 50px;
    padding-right: 0%;  
    justify-content: center;  
    padding-top: 2px;
    align-items: center;
    margin: 5px;
    left: 25%;
    border: 2px solid black;
    border-radius: 45%;
    width: 50%;
    align-content: center;
    height: 65px;
    background: #76B900;
}
#lista{
    list-style: none;
    display: flex;
    font-family: inconsolada;
    font-size: 180%;
    color: blue;
    gap: 35px;
}
@import url('https://fonts.googleapis.com/css2?family= Inconsolata :wght@900 & display=swap');
video{
    width: 109vw;
    height: 118vh;
    position: absolute;
    border-left: none;
    right: -5vw;
    top: -1vw;
}
.menu1{
    color: white;
    text-decoration: none;
}
.fundo1{
    position: absolute;
    left: 33%;
    height: 415px;
    width: 35%;
    bottom: 5%;
}
.email{
    position: absolute;
   display: flex;
   flex-direction: column;
   border: 1px solid #76B900;
   height: 35px;
   width: 25%;
   left: 38%;
   bottom: 40%;
   background: white ;
   color: rgb(255, 255, 255);
   font-family: inconsolada ;
   font-size: 25px;
}
.senha{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #75b900;
    height: 35px;
    width: 25%;
    left: 38%;
    bottom: 33%;
    background: rgb(255, 255, 255) ;
    color: white;;
}
.logar{
    position: absolute;
    height: 46px;
    width: 17%;
    left: 42%;
    bottom: 14%;
    background-color: #75b900;
    border-radius: 15px;
    border: none;
}
.registrar{
    position: absolute;
    height: 46px;
    width: 16%;
    left: 42%;
    bottom: 7%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 20px;
}
#bemvindo{
    position: relative;
    color: #76B900;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 45px;
}
#apresentacao{
    position: relative;
    color: #76B900;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 35px;
}
.senha2{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #76B900;
    height: 35px;
    width: 25%;
    left: 38%;
    bottom: 26%;
    background: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);;
}
.git{
    position: absolute;
    height: 60px;
    bottom: 1px;
}


