*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
body{
    font-size: 100%;
}
#logo{
    height: 40px;
    width: 70px;
    display: flex;
    left: 50%;
}
header{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 50px;
    padding-right: 0%;  
    justify-content: center;  
    padding-top: 2px;
    align-items: center;
    margin: 5px;
    left: 25%;
    border: 2px solid black;
    border-radius: 45%;
    width: 50%;
    align-content: center;
    height: 65px;
    background: #76B900;
}
#lista{
    list-style: none;
    display: flex;
    font-family: inconsolada;
    font-size: 180%;
    color: blue;
    gap: 35px;
}
@import url('https://fonts.googleapis.com/css2?family= Inconsolata :wght@900 & display=swap');
video{
    width: 102vw;
    height: 106vh;
    position: absolute;
    border-left: none;
    right: -1vw;
    top: -1vw;
}
.menu1{
    color: white;
    text-decoration: none;
}
main{
    border: none;
    height: 68%;
    width: 95%;
    left: 5px;
    padding: 2%;
    position: absolute;
}
.img1{
padding-left: 31%;
position: absolute;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    }
.logar{
    padding: 10px 15px;
    background: #75b900;
    color: white;
    border: none;
    font-size: 25px;
    justify-content: center;
    display: flex;
}
.registrar{
    padding-left: 155px;
    background: #75b90000;
    color: #75b900;
    border: none;
    left: 50%;
    display: flex;
    }
#bemvindo {
    font-size: 30px;
    padding: 0px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
#apresentacao{
    font-size: 20px;
    padding: 0px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
#test1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0%;
    border: 1px solid red;
    width: 250px;
}

