*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
body{
    font-size: 100%;
}
#logo{
    height: 40px;
    width: 70px;
    display: flex;
    left: 50%;
}
header{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 50px;
    padding-right: 0%;  
    justify-content: center;  
    padding-top: 2px;
    align-items: center;
    margin: 5px;
    left: 25%;
    border: 1px solid white;
    border-radius: 45%;
    width: 50%;
    align-content: center;
    height: 65px;
}
#lista{
    list-style: none;
    display: flex;
    font-family: inconsolada;
    font-size: 180%;
    color: blue;
    gap: 35px;
}
@import url('https://fonts.googleapis.com/css2?family= Inconsolata :wght@900 & display=swap');
video{
    width: 102vw;
    height: 106vh;
    position: absolute;
    border-left: none;
    right: -1vw;
    top: -1vw;
}
.menu1{
    color: white;
    text-decoration: none;
}

